:root {
    --white: #ffffff;
    --background: #efefef;
    --black: hsl(200, 15%, 8%);
    --shadow: lightgrey;
    --active: red;
}
  
[data-theme="dark"] {
    --white: hsl(209, 23%, 22%);
    --background: hsl(207, 26%, 17%);
    --black: hsl(0, 0%, 100%);
    --shadow: hsl(207, 26%, 17%);
    --active: blue;
}

section {
    display: flex;
  
    width: 60%;
  
    margin: 50px auto;
}

h1, b, p, span, li, button {
    color: var(--black);
}

h2 {
    margin-top: 0px;
    color: var(--black);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:not(:last-child) { 
    margin-bottom: 10px;  
}